<h3>Consulta Funcionários</h3>
<p>Listagem de funcionários cadastrados</p>
<hr>

<div class="table-responsive">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th [width]="200">Nome do funcionário</th>
        <th>Idade</th>
        <th [width]="400">Cargo</th>
        <th [width]="140">Operações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <td> {{ funcionario.nome }} </td>
        <td> {{ funcionario.idade }} </td>
        <td>
          <small> {{ funcionario.cargo }} </small>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-primary me-2">Editar</button>
          <button class="btn btn-sm btn-outline-danger">Excluir</button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="8">Quantidade de funcionários: {{ quantidadeDeFuncionarios }} </td>
      </tr>
    </tfoot>

  </table>
</div>
